* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
}

.container {
    width: 360px;
    height: 640px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}


form {
    height: 35%;
    width: 100%;
    border-radius: 30px;
}

form > input {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    background: #000;
    color: #f5f5f5;
    border: none;
    text-align: right;
    pointer-events: none;
    padding-right: 5%;
}

.buttons {
    height: 65%;
    width: 100%;
    display: grid;
    row-gap: 10px;
}

.buttons-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.buttons-regular {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.buttons-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.button {
    background-color: #313131;
    color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 64px;
    height: 64px;
}

.button.clear {
    width: 248px;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #9f9f9f;
    color: #000000;
}

.button.zero {
    width: 160px;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
}

.operation {
    background-color: #f69906;
}

.equal {
    color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 64px;
    height: 64px;
}

footer {
    position: fixed;
    bottom: 0;
    background: #000;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > a {
    color: #f5f5f5;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
}